<div class="container_fluid">
    <div class="header">
        <h2 style="text-align: center;">Company Information</h2>
    </div>
    <div class="content">
        <form class="form" [formGroup]="jobportalForm" (ngSubmit)="onSave()">
            <div class="form-group col-lg-3">
                <label>Company Name </label>
                <input type="text" id="company_name" name="company_name" class="form-control"
                    placeholder="Enter Company Name" [(ngModel)]="joblists.company_name" formControlName="company_name">
                <span class="text-danger"
                    *ngIf="(registerFormControl.company_name.touched || submitted) && registerFormControl.company_name.errors?.required">
                    Company Name is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Street </label>
                <input type="text" id="street" name="street" class="form-control" placeholder="Enter Street"
                    [(ngModel)]="joblists.street" formControlName="street">
                <span class="text-danger"
                    *ngIf="(registerFormControl.street.touched || submitted) && registerFormControl.street.errors?.required">
                    Street is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>city </label>
                <input type="text" id="city" name="city" class="form-control" placeholder="Enter city"
                    [(ngModel)]="joblists.city" formControlName="city">
                <span class="text-danger"
                    *ngIf="(registerFormControl.city.touched || submitted) && registerFormControl.city.errors?.required">
                    city is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>state </label>
                <input type="text" id="state" name="state" class="form-control" placeholder="Enter state"
                    [(ngModel)]="joblists.state" formControlName="state">
                <span class="text-danger"
                    *ngIf="(registerFormControl.state.touched || submitted) && registerFormControl.state.errors?.required">
                    state is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Email ID </label>
                <input type="text" id="email_id" name="email_id" class="form-control" placeholder="Enter EmailID"
                    [(ngModel)]="joblists.email_id" formControlName="email_id">
                <span class="text-danger"
                    *ngIf="(registerFormControl.email_id.touched || submitted) && registerFormControl.email_id.errors?.required">
                    Email ID is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Phone Number </label>
                <input type="text" id="phone_number" name="phone_number" class="form-control"
                    placeholder="Enter Phone Number" [(ngModel)]="joblists.phone_number" formControlName="phone_number">
                <span class="text-danger"
                    *ngIf="(registerFormControl.phone_number.touched || submitted) && registerFormControl.phone_number.errors?.required">
                    Phone Number is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>JobCode </label>
                <input type="text" id="job_code" name="job_code" class="form-control" placeholder="Enter JobCode"
                    [(ngModel)]="joblists.job_code" formControlName="job_code">
                <span class="text-danger"
                    *ngIf="(registerFormControl.job_code.touched || submitted) && registerFormControl.job_code.errors?.required">
                    JobCode is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Description </label>
                <input type="text" id="description" name="description" class="form-control"
                    placeholder="Enter Description" [(ngModel)]="joblists.description" formControlName="description">
                <span class="text-danger"
                    *ngIf="(registerFormControl.description.touched || submitted) && registerFormControl.description.errors?.required">
                    Description is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Job Title </label>
                <input type="text" id="job_title" name="job_title" class="form-control" placeholder="Enter Job Title "
                    [(ngModel)]="joblists.job_title" formControlName="job_title">
                <span class="text-danger"
                    *ngIf="(registerFormControl.job_title.touched || submitted) && registerFormControl.job_title.errors?.required">
                    Job Title is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Last Date </label>
                <input type="date" id="last_date" name="last_date" class="form-control" placeholder="Enter Last Date"
                    [(ngModel)]="joblists.last_date" formControlName="last_date">
                <span class="text-danger"
                    *ngIf="(registerFormControl.last_date.touched || submitted) && registerFormControl.last_date.errors?.required">
                    Last Date is required
                </span>
            </div>
            <div class="form-group col-lg-3">
                <label>Created Date </label>
                <input type="date" id="created_date" name="created_date" class="form-control"
                    placeholder="Enter Created Date" [(ngModel)]="joblists.created_date" formControlName="created_date">
                <span class="text-danger"
                    *ngIf="(registerFormControl.created_date.touched || submitted) && registerFormControl.created_date.errors?.required">
                    Created Date is required
                </span>
            </div>

            <button type="submit" class="btn btn-success col-lg-1 col-md-1 col-sm-2 col-3"
                (click)="onSave">Save</button>{{customer}}

        </form>
    </div>
</div>